{include file='public/header' /}
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=39CQsvf43ewtqmM7EqG3tXRhcHb2ogvf"></script>
<!--    <div class="crumbs w__1280">-->
<!--        <dl>-->
<!--            <dt><img src="__IMAGES__/研究会简介_03.png" alt="">当前位置：</dt>-->
<!--            <dd>-->
<!--                <a href="index.html">首页 &gt; </a>-->
<!--            </dd>-->
<!--            <dd>-->
<!--                <a href="survey.html">&nbsp;研究会概况 &gt; </a>-->
<!--            </dd>-->
<!--            <dd>-->
<!--                <a href="javascript:;">&nbsp;联系方式</a>-->
<!--            </dd>-->
<!--        </dl>-->
<!--    </div>-->
    <div class="currency w__1280">
        {include file='public/left' /}
        <div class="currency__right ">
            <div class="currency__title">
                <h4>{$navpid['top_title']}</h4>
            </div>
            <div class="currency__content contact">
                <h3>{$navpid['now_title']}</h3>
                <ul>
                    <li>
                        <img src="__IMAGES__/联系方式_03.png">
                        <p>电话： {$webinfo['tel']}</p>
                    </li>
                    <li>
                        <img src="__IMAGES__/联系方式_06443_03.png">
                        <p>邮箱：{$webinfo['email']}</p>
                    </li>
                    <li>
                        <img src="__IMAGES__/联系方式_06.png">
                        <p>邮编： {$webinfo['code']}</p>
                    </li>
                    <li>
                        <img src="__IMAGES__/联系方式564_11.png">
                        <p>地址：{$webinfo['addr']}</p>
                    </li>
                </ul>
                <style type="text/css">
                #map img {
                    max-width: inherit;
                }
                </style>
                <!--百度地图容器-->
                <div id="map"></div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    //创建和初始化地图函数：
    function initMap() {
        createMap(); //创建地图
        setMapEvent(); //设置地图事件
        addMapControl(); //向地图添加控件
        addMapOverlay(); //向地图添加覆盖物
    }

    function createMap() {
        map = new BMap.Map("map");
        map.centerAndZoom(new BMap.Point(117.007959, 36.621609), 17);
    }

    function setMapEvent() {
        map.enableScrollWheelZoom();
        map.enableDragging();
    }

    function addMapOverlay() {
        var markers = [
            { content: "", title: "", imageOffset: { width: -46, height: -21 }, position: { lat: 36.621542, lng: 117.008079 } }
        ];
        for (var index = 0; index < markers.length; index++) {
            var point = new BMap.Point(markers[index].position.lng, markers[index].position.lat);
            var marker = new BMap.Marker(point, {
                icon: new BMap.Icon("http://api.map.baidu.com/lbsapi/creatmap/images/us_mk_icon.png", new BMap.Size(20, 25), {
                    imageOffset: new BMap.Size(markers[index].imageOffset.width, markers[index].imageOffset.height)
                })
            });
            var opts = {
                width: 200,
                title: markers[index].title,
                enableMessage: false
            };
            var infoWindow = new BMap.InfoWindow(markers[index].content, opts);
            map.addOverlay(marker);
        };
    }
    //向地图添加控件
    function addMapControl() {
        var scaleControl = new BMap.ScaleControl({ anchor: BMAP_ANCHOR_BOTTOM_LEFT });
        scaleControl.setUnit(BMAP_UNIT_IMPERIAL);
        map.addControl(scaleControl);
        var navControl = new BMap.NavigationControl({ anchor: BMAP_ANCHOR_TOP_LEFT, type: 1 });
        map.addControl(navControl);
        var overviewControl = new BMap.OverviewMapControl({ anchor: BMAP_ANCHOR_BOTTOM_RIGHT, isOpen: false });
        map.addControl(overviewControl);
    }
    var map;
    initMap();
</script>
{include file='public/footer' /}