{include file='public/header' /}
<style type="text/css">
.sousuo .currency__right {
    width: 100%;
}

.sousuo .list__all__page{
    padding-top: 60px;
}

.sousuo .list__all .list__all__page ul li {
    margin: 0 5px;
}

.sousuo .list__all .list__all__page ul li a {
    padding: 10px 15px;
    margin: 0;
}

.sousuo .list__all .list__all__page ul li.active  span{
    background: #1656a8;
    color: #fff;
     padding: 10px 15px;
}
</style>
<div class="currency w__1280 sousuo">
    <div class="currency__right ">
        <div class="currency__title">
            <h4>{$navpid['top_title']}</h4>
        </div>
        <div class="currency__content list__all">
            <div class="list__all__heap">
                {if $count!=0}
                {volist name='list' id='user'}
                <a href="{:url('index/details',['cata_id'=>$user.article_category_id,'id'=>$user.id])}">
                    <p>{$user.name}</p>
                    <img id="tp" src="{if $user.new==1}__IMAGES__/首页16-17_03111_03.png{/if}">
                    <p>{$user.create_time|date='Y-m-d'}</p>
                </a>
                {/volist}
                {else /}
                暂无数据
                {/if}
            </div>
            <div class="list__all__page">
                {$page|raw}
            </div>
        </div>
    </div>
</div>
{include file='public/footer' /}